
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
    <link href="~/css/Error404.css" rel="stylesheet" />
</head>
<body>
    <div id="clouds">
        <div class="cloud x1"></div>
        <div class="cloud x1_5"></div>
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
    </div>
    <div class='c'>
        <div class='_404'>404</div>
        <hr>
        <div class='_1'>متاسفانه</div>
        <div class='_2'>  صفحه درخواستی شما یافت نگردید</div>
        <a class='btn' asp-action="Index" asp-controller="Home">بازگشت به صفحه اصلی</a>
    </div>
</body>
</html>
