<footer class="footer-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer">
                    <h4 class="logo"><a href="#">Help<span>Desk</span></a></h4>
                    <p>
                        شرکت پشتیبانی افزارهای رایانه‌ای سداد (که به اختصار شرکت پارس نامیده می شود)تحت هدایت گروه شرکت های هلدینگ داده ورزی سداد در مورخ ۱۳۹۳/۳/۱۲راه اندازی گردید
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer">
                    <h3>پیوند های مفید</h3>
                    <ul>
                        <li><a href="#"><i class="icofont-double-left"></i> شرکت پارس</a></li>
                        <li><a href="#"><i class="icofont-double-left"></i> بانک ملی ایران</a></li>
                        <li><a href="#"><i class="icofont-double-left"></i> شرکت داده ورزی سداد</a></li>
                        <li><a href="#"><i class="icofont-double-left"></i> بانک مرکزی</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer">
                    <h3>پشتیبانی</h3>
                    <ul>
                        <li><a href="#"><i class="icofont-double-left"></i> خانه</a></li>
                        <li><a href="#"><i class="icofont-double-left"></i> درباره ما</a></li>
                        <li><a href="contact.html"><i class="icofont-double-left"></i> تماس با ما</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer">
                    <h3>اطلاعات تماس</h3>
                    <ul class="contact-info">
                        <li><i class="icofont-google-map"></i>  تهران، خیابان احمد قصیر، نبش کوچه چهاردهم غربی، پلاک ۱۹</li>
                        <li>
                            <i class="icofont-phone"></i> تلفن: ۰۲۱۸۸۷۳۶۰۶۶
                        </li>
                        <li>
                            <i class="icofont-phone"></i> نمابر: ۰۲۱۸۸۷۰۷۴۹۴


                        </li>

                        <li><i class="icofont-envelope"></i> info@yoursite.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <p>تمامی حقوق برای شرکت پارس محفوظ می باشد - ارائه شده در <a href="http://www.parssup.ir/">شرکت پارس</a></p>
                </div>

                <div class="col-lg-5 col-md-5">
                    <ul>
                        <li><a href="#" class="icofont-facebook"></a></li>
                        <li><a href="#" class="icofont-twitter"></a></li>
                        <li><a href="#" class="icofont-instagram"></a></li>
                        <li><a href="#" class="icofont-linkedin"></a></li>
                        <li><a href="#" class="icofont-vimeo"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
