<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-right image">
                <img src="~/Admin/img/rebwar.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-right info">
                <p>ریبوار حسین پوری</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">مدیریت وظایف</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a asp-action="ListCat"><i class="fa fa-chain"></i> <span> مدیریت گروه مقالات</span></a></li>

            <li><a asp-action="ListArticle"><i class="fa fa-book"></i> <span> مدیریت  مطالب</span></a></li>


            <li><a asp-action="UserList"><i class="fa fa-user"></i> <span> مدیریت  کاربران</span></a></li>
            <li><a asp-action="Roles"><i class="fa fa-user"></i> <span> مدیریت  نقش ها</span></a></li>

            <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-sitemap"></i> <span> بازگشت به صفحه اصلی</span></a></li>

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
