<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-right image">
                <img src="~/Admin/img/rebwar.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-right info">
                <p>ریبوار حسین پوری</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <div action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="جستجو">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">مدیریت وظایف</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>مدیریت گروه مقالات</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a asp-action="AddCategory">  افزودن</a></li>
                    <li><a asp-action="ListCat">  ویرایش</a></li>
                    <li><a href="#">  حذف</a></li>

                </ul>
            </li>
            
            <li class="active"><a href="#"><i class="fa fa-link"></i> <span>مدیریت گروه مقالات</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span> مدیریت  مقالات</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>چند سطحی</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">لینک سطح ۱</a></li>
                    <li><a href="#">لینک سطح ۱</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
