@model HelpDesk.MVC.Models.Users.ApplicaionRoles
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">جزئیات نقش  @Html.DisplayFor(Model => Model.Name)</h4>
    </div>
    <div class="modal-body">
        <h4>نام گروه:</h4>
        <p> @Html.DisplayFor(Model => Model.Name)</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">خروج</button>
    </div>
</div>
