@model HelpDesk.MVC.Models.Articles.DisplayArticleCategory

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Admin/_Layout.cshtml";
}
@section text_editor
{
    <link href="~/css/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
}

<section class="content-header">
    <h1>
        <small>ویرایش مطلب @Model.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Admin"><i class="fa fa-dashboard"></i> داشبورد</a></li>
        <li class="active">ویرایش مطلب</li>
    </ol>
</section>
<section class="content">

    <div class="row">
        <div class="col-md-11">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> ویرایش مطلب</h3>
                </div>

                <form asp-action="EditArticle" method="post" asp-controller="Admin" enctype="multipart/form-data">
                    <div class="box-body">
                        <input hidden asp-for="AspNetUsersId" />
                        <div class="form-group">
                            <label asp-for="Title" class="control-label">تیتر مطلب</label>
                            <input asp-for="Title" class="form-control input-lg" maxlength="500" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>انتخاب گروه</label>
                            <select class="form-control input-sm" name="SelectedCat">
                                @foreach (var item in Model.CatForDisplay)
                                {
                                    <option class="input-sm" value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Abstract" class="control-label">توضیحات</label>
                            <textarea asp-for="Abstract" class="form-control input-lg text-body" maxlength="1000" rows="4"></textarea>

                        </div>
                        <div class="box-body pad">
                            <script src="~/ckeditor/ckeditor.js"></script>
                            <textarea asp-for="Body" name="Body" class="form-control input-lg text-body" id="Body">

                            </textarea>
                            <script>
                                //CKEDITOR.replace('Content');
                                const config = {
                                    filebrowserImageBrowseUrl: "/imagebrowser",
                                    filebrowserImageWindowWidth: 750,
                                    filebrowserImageWindowHeight: 590,
                                    filebrowserBrowseUrl: "/linkbrowser",
                                    filebrowserWindowWidth: 350,
                                    filebrowserWindowHeight: 500
                                };
                                const editor = document.getElementById("Body");
                                CKEDITOR.replace(editor, config);

                            </script>

                        </div>
                        <div class="form-group">
                            <img class="img-bordered-sm  profile-user-img" src="@Model.ImagePath" asp-append-version="true" />
                            <input hidden asp-for="ImagePath" />
                            <input hidden asp-for="PublishDate" />


                        </div>


                        <div class="form-group">
                            <div class="form-group">
                                <label asp-for="Image">ارسال عکس</label>
                                <input type="file" asp-for="Image" class="form-control-" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Video">ارسال ویدیو</label>
                            <input type="file" asp-for="Video" class="form-control-" />
                        </div>
                        <div class="form-group">
                            <label asp-for="PDF">ارسال ضمیمه</label>
                            <input type="file" asp-for="PDF" class="form-control-" />
                        </div>

                        <div class="box-footer">
                            <input type="submit" value="ویرایش" class="btn btn-block btn-success btn-lg" />
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>

    <div>
        <a class="btn btn-info" asp-action="ListArticle">بازگشت به لیست</a>

    </div>
</section>

