@model HelpDesk.Domain.Core.Articles.Article
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
@section text_editor
{
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/dropzone.js"></script>
    <link href="~/vendor/dropzone/dropzone.min.css" rel="stylesheet" />

}
<section class="content-header">
    <h1>
        <small>ساخت حالت سه بعدی عکس</small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Admin"><i class="fa fa-dashboard"></i> داشبورد</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">  درج عکس جهت ساخت حالت سه بعدی برای</h3>
                    <h4 class="box-title">  @Model.Title</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div id="dropzone">
                            <form asp-action="Upload" asp-controller="Admin" class="dropzone needsclick dz-clickable" id="uploader">
                                <div class="dz-message needsclick">
                                    جهت آپلود دسته ای ، عکسها را اینجا درگ کنید یا کلیک کنید<br>
                                </div>
                                <label asp-for="Id" hidden></label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section DropZone_Script
{
    <script type='text/javascript'>
        Dropzone.autoDiscover = false;
        $(".dropzone").dropzone({
            addRemoveLinks: true,
            removedfile: function (file) {
                var name = file.name;

                //$.post("/Admin/Upload2222", { name: name, request: 2 }, function (data) {
                //    spin.addClass("d-none");

                //    UpdateImages(data);
                //});

                $.ajax({
                    type: 'POST',
                    url: '/Admin/Upload',
                    data: { name: name, request: 2 },
                    sucess: function (data) {
                        console.log('success: ' + data);
                    }
                });
                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        });
    </script>

}
